body {
  background-color: #fefdca;
  text-align: center;
  font-family: "Montserrat", serif;
  margin-left: 0px;
  margin-right: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "Sacramento", cursive;
  color: grey;
  word-spacing: 10px;
  padding-top: 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #5e303e;
  line-height: 2;
  padding-bottom: 10px;
  font-size: 40px;
}

h3 {
  line-height: 2;
  color: #30475e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
  color: #1d1919;

  margin: auto;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  word-spacing: 3px;
}

hr {
  border: dotted #ffc38b 8px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  margin: 10px 20px;
}

a:hover {
  color: #ffc38b;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #fefdca;
  position: relative;
  padding-top: 100px;
  /* to shift the page a little down */
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #fff591;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.top-merged-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 400px;
}

.skill {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  position: static;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.sign {
  color: #30475e;
  font-size: 15px;
  padding: 10px 0px;
}

/* .btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(rgb(19, 19, 18), 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(182, 7, 7);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
} */

.btn {
  background: #faf567;
  background-image: -webkit-linear-gradient(top, #faf567, #99b82b);
  background-image: -moz-linear-gradient(top, #faf567, #99b82b);
  background-image: -ms-linear-gradient(top, #faf567, #99b82b);
  background-image: -o-linear-gradient(top, #faf567, #99b82b);
  background-image: linear-gradient(to bottom, #faf567, #99b82b);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Courier New;
  color: #1d1919;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b3eb26;
  background-image: -webkit-linear-gradient(top, #b3eb26, #e8c83c);
  background-image: -moz-linear-gradient(top, #b3eb26, #e8c83c);
  background-image: -ms-linear-gradient(top, #b3eb26, #e8c83c);
  background-image: -o-linear-gradient(top, #b3eb26, #e8c83c);
  background-image: linear-gradient(to bottom, #b3eb26, #e8c83c);
  text-decoration: none;
  transition: 0.8s;
}

a {
  color: #11999e;

  font-family: "Montserrat", sans-serif;

  margin: 10px 20px;

  text-decoration: none;
}

a:hover {
  color: #00179c;
}
